<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to the <%= title %>!</h1>
    <h2>Seasons at this time are</h2>
    <% for (let index = 0; index < seasons.length; index++) { %>
    <div
      style="
        padding: 20px;
        margin: 20px;
        border: 1px solid red;
        width: 100px;
        text-align: center;
      "
    >
      <a href="/season/<%=seasons[index].season%>">
        <li style="list-style: none"><%= seasons[index].season %></li>
      </a>
    </div>
    <% } %>

    <div>
      <a href="/season">Create a season</a>
    </div>
  </body>
</html>
