<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to the <%= title %>!</h1>
    <h2>Seasons at this time are</h2>
    <% for (let index = 0; index < seasons.length; index++) { %>
    <li><%= seasons[index].season %></li>
    <% } %>

    <div>
      <a href="/season">Create a season</a>
    </div>
  </body>
</html>
