<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to the <%= title %>!</h1>
    The current Season at this time is <%= seasons%>
  </body>
</html>
