<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title><%= title %></title>
  </head>
  <body>
    <h1>Let's create a season</h1>
    <form method="POST" action="/season/newSeason">
      <label for="season">Season Name: </label>
      <input required id="season" name="season" minlength="4" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
